
@font-face {
  font-family: 'nancy-lorenz';
  src: url('nancy-lorenz/partybusiness.ttf') format('truetype');
}
@font-face {
  font-family: 'pete-klassen';
  src: url('pete-klassen/anicm___.ttf') format('truetype');
}
@font-face {
  font-family: 'tengwar';
  src: url('tengwar/tngan.ttf') format('truetype');
}
@font-face {
  font-family: 'tengwari';
  src: url('tengwar/tngani.ttf') format('truetype');
}
body {
  background: url('images/bg_light.png');
}
.row {
  margin: 0;
}
p, header {
  font-family: 'nancy-lorenz', serif;
  font-size: 1.5rem; 
}
.carousel-item h3 {
  font-family: 'nancy-lorenz', serif;
  font-size: 5vw; 
}
.carousel-item p {
  font-size: 3vw;
}
.carousel-control-next .fleche {
  font-family: 'pete-klassen', serif;
}
.bPo {
  font-family: 'pete-klassen', serif;
}
.policeTitre {
  font-family: 'pete-klassen', serif;
  font-size: 1.7rem;
}
.soustitre {
  font-size: 1.2rem;
}
.symbole {
  font-family: 'tengwar', serif;
  color: #ff6132;
}
.symboleI {
  font-family: 'tengwarI', serif;
  color: #ff6132;
}
.bC {
  color: #ff6132;
  border-bottom: 4px solid #ff6238;
}
navBorder {
  border-right:3px solid orange;
}
.navBC {
  background-color: #ff6238;
}
.navC a{
  color: #FFFFFF;
}
.police-normale {
  font-family: verdana, serif;
  color: #FFFFFF;
  margin-top: 1%;
}
.margeF {
  margin-right: -3%;
}
.img{
  position: absolute;

}
.reward {
  position: absolute;
  font-size: 1.8rem;
  margin-top: 3%;
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 3%;
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
}
.gimli {
  position: absolute;
  font-size: 3.2rem;
  margin-top: 8%;
  color: #ff6132;
  text-align: center;
}
.nomAffiche {
  position: absolute;
  font-size: 3.2rem;
  margin-top: 58%;
  color: #FFFFFF;
}
.nomRaye {
  text-decoration: line-through;
  text-decoration-color: #ff6132; 
}
.orange {
   color: #ff6132;
}
.afficheGimli {
  opacity: 0.6;
  margin: 0;
  padding: 0;
  width: 100%;
}
.affiche {
  opacity: 0.8;
  margin: 0;
  padding: 0;
  width: 100%;
}
.affiche:hover .reward {
  visibility: hidden;
}
.affiche:hover .nomAffiche {
  visibility: hidden;
}
.afficheGimli:hover .gimli{
  visibility: hidden;
}
.afficheGimli:hover .nomAffiche {
  visibility: hidden;
}
.afficheGimli:hover {
  opacity: 1;
}
.affiche:hover {
  opacity: 1;
}
.card {
  margin: auto;
  padding: 0;
  width: 100%;
}
.card-text {
  text-align: center;
  font-size: 1.5em;
  font-family: 'nancy-lorenz', sans-serif;
}
.cardB {
  background-color: #000000;
  color: #b5b5b5;
  border: 4px solid black;
  border-radius: 0%;
  font-size: 1.2rem;
}
.container {
  margin: 3%;
}
.button {
  display: flex;
  justify-content: center;
}
table {
  border-collapse: collapse;
  text-align: center;

}
td, th {
  border: 1px solid black;
  padding-top: 1%;
  padding-bottom: 1%;

}
.casegrise {
  background-color: grey;
}
blockquote {
  padding-top: 2%;
  
}
form {
  margin: 3%;
}
.espaceForm {
  margin: 3%;
}
.fellows {
  margin-top: 3%;
}
.pills {
  margin-top: 3%;
}
.alignC {
  margin-bottom: 18%;
}
.btn-background {
  background: url('images/bg_light.png')
}
.resteenplace {
}